# This workflow builds a list of your starred repositories
name: Updtate Stars

on:
  schedule:
    - cron: '0 0 * * *'
    
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Generate the list
      - name: Create star list
        id: stargazer
        uses: rverst/stargazer@v1.2.6
        with:
          github-user: ${{ github.actor }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          list-file: "stars.md"
          with-license: false
          with-back-to-top: true

      # Commit the changes
      - name: Commit files
        run: |
          git config --local user.email "iam2kabhishek@gmail.com"
          git config --local user.name "Abhishek via github-actions"
          git add .
          git commit -m "docs: Update stars"

      # Push the changes
      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
