name: Fetch Latest Tweets
on:
  # Schedule updates (every 6 hours)
  schedule: [{cron: "0 */6 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  latest-tweets:
    runs-on: ubuntu-latest
    steps:
    - uses: lowlighter/metrics@latest
      with:
        filename: tweets.svg
        token: NOT_NEEDED
        base: ""
        plugin_tweets: yes
        plugin_tweets_token: ${{ secrets.TWITTER_TOKEN }}
        plugin_tweets_attachments: yes
        plugin_tweets_user: 2kabhishek
        plugin_tweets_limit: 3
